@{
    ViewData["Title"] = "Rooms List";

}

@model Microsoft.EntityFrameworkCore.DbSet<Room>;

@section css{
    <link rel="stylesheet" href="css/ListRoom.css">
}

<div class="text-center align-content-center justify-content-center">
    <h5 style="text-decoration: underline" class="text-danger">@ViewData["Message"]</h5>
    @foreach (Room Room in Model)
    {
        <div class="block container-md">
            <span class="float-left name"> @Room.Name</span>
            <br>
            <p class="container block">
                @Room.Description
            </p>
            <span class="float-right align-bottom container block">
                @Room.Creator
            </span>
            <img src="~/images/RoomLogoImages/@Room.LogoName" alt="@Room.LogoName" asp-append-version="true" width="250px" height="250px">

            <form asp-controller="Room" method="post" asp-route-returnurl="Room/list" asp-action="Delete" asp-route-roomName="@Room.Name">
                <button type="submit">Delete</button>
            </form>

            <form asp-controller="Room" asp-route-returnurl="Room" method="post" asp-action="Join" asp-route-roomName="@Room.Name">
                <input type="hidden" value="@Room.Name" name="RoomName">
                <button type="submit">Join</button>
            </form>
        </div>
    }
</div>